*{
    box-sizing: border-box ;
}
/* Main body Styling */
body{
    height: 100vh;
    background-image: url("../images/main_bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/* <!-- Card : Sample Text --> */
#text-card{
    position: relative;
    top: 300px;
}
#text-card h1{
    margin: 10px;
    font-size: 50px;
}
.btn-primary{
    color: rgb(255, 255, 255);
    background-color: #fcca00;
}
.btn-primary:hover{
    color: #fcca00;
    background-color: black;

}
.card .form-control{
    box-shadow: 0px 3px 6px rgb(160, 160, 160);
}